#logo {
  width: 45px;
}


body {
  background-color: #efefef;
}
.navbar {
  background-color: #d1d1d1 !important;
}

#inicio {
  padding: 1px;
  font-size: 80px; /* Reducido ligeramente de 100px para mejor ajuste */
  color: #fff;
  background-color: #4ad4f7;
  width: fit-content;
  display: inline-block; /* Asegurar que el fondo envuelva el texto correctamente */
}

#parrafo-inicio {
  margin-top: 1rem;
}

#sobre-mi {
  background-color: #fff;
  width: 80%;
  margin: 20px auto; /* Mejor centrado */
  padding: 30px;
  font-size: 25px;
  box-shadow: 15px 15px 0px #808080, 30px 30px 0px #000000;
}
/* usamos media queries para hacer el diseño responsive */
@media (max-width: 992px) {
  #inicio {
    font-size: 60px;
  }
}

/* usamos media queries para hacer el diseño responsive */
@media (max-width: 768px) {
  #inicio {
    font-size: 40px;
    width: 100%; /* Ancho completo en móvil se ve mejor usualmente */
    text-align: center;
    display: block;
  }

  #sobre-mi {
    width: 95%;
    margin: 20px auto;
  }
}

#resaltar{
    background-color: #4ad4f7;
    width: fit-content;
}

